html, body {
    background: linear-gradient(#080808, #222);

    height: 100%;

    margin: 0;
}

.container {
    margin: 0 auto;
    width: 720px;
}

.controls {
    display: inline;
    float: right;
    margin: 0 auto;
}

button , #modelSelector {
    background: #1c76bb;

    color: white;
    font-size: 16px;

    border: 0;
    border-radius: 2px;

    height: 32px;
    width: 128px;
    margin-top: 8px;
    margin-bottom: 8px;
}

.button-danger {
    background: #bb1c1c;
}
